@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gruvbox-bg text-gruvbox-fg;
  }
}

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1d2021;
}
::-webkit-scrollbar-thumb {
  background: #928374;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fe8019;
}
